extends layout

block content
  h2= church.name
  .col-md-6.col-md-offset-3(style="text-align: left")
    h3 Location 
    div
     p
       b Address: 
       = church.street
     p
       b City: 
       = church.city
     p
        b Latitude: 
        = church.geo.lat
     p
        b Longitude: 
        = church.geo.long
    h3 Contact
    p
       b Web: 
       if church.web
         = church.web
       else
         span -
    p
       b Email: 
       if church.email
         = church.email
       else
         span -
    p
       b Phones: 
       each phone in church.phones
          = phone
    h3 Mass Schedule
    p
       - var i = -1
       each day in church.schedule
          - i++
          if day && day.length > 0
             b day #{i}  <br />
             each mass in day
                i #{mass.time} in #{mass.lang}<br />
             <br />
